/dist/
/packages/sodium/dist/
/packages/sodium/dist-dev/
/packages/videomark-log-view/build/
/packages/videomark-mini-stats/dist/
/packages/videomark-mini-stats/jest-playwright.config.js
/packages/videomark-mini-stats/**/*.test.js
/test/e2e/
