@import './Theme.include.css';

.thumbnailWrapper {
  position: relative;
}

.thumbnailWrapper > :not(img) {
  position: absolute;
  color: #fffd; /* dark/light 関係なく適用 */
  opacity: 0;
}

.card:hover .thumbnailWrapper > :not(img) {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-delay: 200ms;
}

.serviceName {
  top: 12px;
  left: 12px;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14px;
  background-color: #0007;
}

.playButton {
  bottom: 0;
  right: 0;
  font-size: 40px;
}

.playButton:hover {
  color: #fff; /* dark/light 関係なく適用 */
}

.playButton svg {
  filter: drop-shadow(0 0 8px #0007);
}

.thumbnail {
  width: 100%;
  object-fit: cover;
  min-height: 100%;
  max-height: calc(200px * 9 / 16);
  vertical-align: top;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  line-height: 1.5;

  font-size: 18px;
}

.movieInfo {
  background-color: var(--secondary-background-color);
  font-size: 14px;
  color: var(--secondary-foreground-color);
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
  height: auto;
  letter-spacing: 0;
}

.movieInfo svg {
  font-size: inherit;
  vertical-align: -2px;
}

.removedStateButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.removedStateButton {
  margin: auto !important;
  width: 100%;
}

.removedStateButton img {
  width: 18px;
  height: 18px;
}

.removedThumbnail {
  filter: grayscale(1);
}

/* modal state */
.modalMain {
  color: var(--primary-foreground-color);
  background-color: var(--primary-background-color);
  border: 1px solid var(--primary-border-color);
  border-radius: 4px;
}

.modalThumbnail {
  width: 100%;
  max-width: 500px;
  max-height: calc(500px * 9 / 16);
  object-fit: cover;
  vertical-align: top;
}
