@import './Theme.include.css';

.modal:not(.open) {
  z-index: -1;
  opacity: 0;
  transition: 0.4s;
}
.modal.open {
  z-index: 1300;
  opacity: 1;
  transition: 0.4s;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal > .modal_bg {
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--modal-background-color);
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1300;
}

.modal .modal_close {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1305;
  right: 0;
  top: 48px;
}
@media (min-width: 600px) {
  .modal .modal_close {
    right: 40px;
    top: 88px;
  }
}

.modal .modal_close::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--secondary-background-color);
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1301;
  transition: 0.2s;
}

.modal .modal_close:not(:hover)::after {
  transform: scale(0);
  opacity: 0;
}

.modal .modal_close:hover::after {
  transform: scale(1);
  opacity: 1;
}

.modal .modal_close svg {
  z-index: 1302;
  filter: var(--modal-close-filter);
}

.modal .modal_inner {
  width: 90vw;
  max-width: 500px;
  position: relative;
  z-index: 1301;
  overflow: auto;
}
@media (min-width: 600px) {
  .modal .modal_inner {
    width: 80vw;
  }
}
