.textArea {
    margin: 60px 0%;
    overflow: scroll;   
    background-color: black;
}

.text{
    color: white;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    flex-wrap: wrap;
}

.checkbox {
    transform: scale(1.4);
}

.submit{
    margin: 10px;
    font-size: 2rem;
}