name: e2e
on:
  - push
  - workflow_dispatch
jobs:
  main:
    # 自動テスト未更新なので無効化
    if: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: pnpm
      - run: pnpm install
        env: { PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 'true' }
      - name: Install Japanese fonts.
        run: sudo apt-get install fonts-noto-cjk
      - id: test
        run: xvfb-run pnpm e2e
      - if: success() || failure()
        uses: actions/upload-artifact@v3
        with:
          name: screenshots
          path: test/e2e/screenshots
      - if: success() || failure()
        name: Upload to Slack
        run: test/e2e/bin/upload-screenshots
        env:
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
          SLACK_CHANNELS: ${{ secrets.SLACK_CHANNELS }}
      - if: success() || failure()
        uses: actions/upload-artifact@v3
        with:
          name: videomark-mini-stats-screenshots
          path: packages/videomark-mini-stats/screenshots
