name: lint
on: pull_request
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: pnpm
      - run: pnpm install
        env: { PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: "true" }
      - run: pnpm lint-report
        continue-on-error: true
      - uses: ataylorme/eslint-annotate-action@1.2.0
        with: { repo-token: "${{ github.token }}" }
