name: lint
on: pull_request
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: pnpm
      - run: pnpm install
      - run: pnpm lint-report
        continue-on-error: true
      - run: pnpm run lint:cspell
      - run: pnpm run lint:svelte
      - uses: wearerequired/lint-action@v2
        with:
          prettier: true
          eslint: true
          stylelint: true
          stylelint_extensions: css,scss,svelte
