name: release
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Increment "major", "minor", "patch", or "pre*" version; or specify version'
        default: patch
        required: true
jobs:
  main:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - name: Bump version
        run: |
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git config user.name "${GITHUB_ACTOR}"
          pnpm version "${{ github.event.inputs.version }}"
          git push --follow-tags
      - run: pnpm build
      - name: Browser Platform Publish
        uses: PlasmoHQ/bpp@v3
        with:
          # see also https://github.com/PlasmoHQ/bpp#readme
          keys: ${{ secrets.BPP_KEYS }}
          chrome-file: dist/videomark.zip
          firefox-file: dist/videomark-firefox.zip
      - name: Create Release Note
        uses: actions/github-script@v6
        with:
          script: |
            const version = require("./package.json").version;
            await github.rest.repos.createRelease({
              ...context.repo,
              tag_name: `v${version.replace(/^v/i, "")}`,
              generate_release_notes: true,
            });
