name: tests
on: pull_request
jobs:
  main:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: pnpm
      - run: pnpm install
      - run: pnpm build
      - run: pnpm exec playwright install --with-deps
      - run: pnpm exec playwright test
      - uses: actions/upload-artifact@v3
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

  safari:
    # 拡張機能 v2 は Safari 対応未確認なので無効化
    if: false
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - run: sudo xcode-select -s "/Applications/Xcode_12.5.1.app/Contents/Developer"
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: pnpm
      - run: pnpm install
      - run: pnpm build-safari
      - uses: actions/upload-artifact@v3
        with:
          name: webvideomark-safari-extension.zip
          path: dist/webvideomark-safari-extension.zip
