name: tests
on: pull_request
jobs:
  main:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: pnpm
      # Playwright バイナリをキャッシュ
      # https://github.com/microsoft/playwright/issues/7249#issuecomment-1256878540
      - uses: actions/cache@v4
        id: playwright-cache
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('**/pnpm-lock.yaml') }}
      - run: pnpm install
      - run: pnpm build
      - run: pnpm exec playwright install --with-deps
        if: steps.playwright-cache.outputs.cache-hit != 'true'
      - run: pnpm exec playwright install-deps
        if: steps.playwright-cache.outputs.cache-hit == 'true'
      - run: pnpm test:e2e
      - uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
      - run: pnpm test:unit

  safari:
    # 拡張機能 v2 は Safari 対応未確認なので無効化
    if: false
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - run: sudo xcode-select -s "/Applications/Xcode_12.5.1.app/Contents/Developer"
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: pnpm
      - run: pnpm install
      - run: pnpm build-safari
      - uses: actions/upload-artifact@v4
        with:
          name: vm-production-safari.zip
          path: dist/vm-production-safari.zip
